<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  	<div style="padding:5px;background-color:#efefef">
  		<img src="http://miraclelab.co/resources/download/images/avatars.png" style="width:140px">
  	</div>
  	<div style="padding:5px;background-color:#f3f3f3">
	  	<h2>Thanks for your email! </h2>
	  	<p>We got the following message from you:</p>
		<p>$message</p>
		<p>We will send the response (if any) to <u>$email.</u>
		</p>
	</div>
  </body>
</html>